body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .coming-soon-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f7f7f7;
  }
  
  h1 {
    font-size: 4rem;
    color: #333;
  }
  
  p {
    font-size: 1.5rem;
    color: #555;
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 3rem;
    }
    
    p {
      font-size: 1.2rem;
    }
  }
  