body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .coming-soon-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f7f7f7;
  }
  
  .coming-soon-content {
    max-width: 600px; /* Limit the width of the content */
    margin: 0 auto; /* Center the content horizontally */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  h1 {
    font-size: 3rem;
    color: #333;
  }
  
  p {
    font-size: 1.2rem;
    color: #555;
  }
  
  @media (max-width: 600px) {
    h1 {
      font-size: 2.5rem;
    }
    
    p {
      font-size: 1rem;
    }
  }
  